name: Build and Deploy API

on:
  push:
    branches: 
      - main
    paths: 
      - 'src/Api/**'
      - 'src/Models/**'
  workflow_dispatch:

permissions:
  id-token: write
  
env:
  CONFIGURATION: release
  DOTNET_VERSION: '8.x'

jobs:
  build-api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
      
      - name: Restore
        run: dotnet restore src/Api/Api.csproj

      - name: Build
        run: dotnet build src/Api/Api.csproj --configuration ${{ env.CONFIGURATION }} --no-restore

      - name: Test
        run: dotnet test src/Api.Tests/Api.Tests.csproj --verbosity normal --logger trx --results-directory TestResults

      - name: Publish Api
        run: dotnet publish --configuration ${{ env.CONFIGURATION }} --output PublishApi src/Api/Api.csproj

      - name: Upload Api
        uses: actions/upload-artifact@v5
        with:
          name: api
          path: PublishApi
  
  build-migration-script:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 

      - name: Set up .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Setup Entity Framework tool
        run: dotnet tool install --global dotnet-ef --version 8.*

      - name: Restore
        run: dotnet restore src/Api/Api.csproj

      - name: create migration script
        run: dotnet ef migrations script --project src/Api/Api.csproj --configuration ${{ env.CONFIGURATION }} --output migrationScript/migration.sql --idempotent --verbose

      - name: Upload Migration Script
        uses: actions/upload-artifact@v5
        with:
          name: script
          path: migrationScript

  release:
    needs: [build-api, build-migration-script]
    runs-on: ubuntu-latest
    environment: 
      name: prod
      url: ${{ steps.deploy-api.outputs.webapp-url }}
    steps:
      - name: Download Api Artifact
        uses: actions/download-artifact@v6
        with:
          name: api
          path: api-artifact

      - name: Download DB artifact
        uses: actions/download-artifact@v6
        with:
          name: script
          path: db-artifact

      - name: Variable Substitution API
        uses: microsoft/variable-substitution@v1
        with:
          files: api-artifact/appsettings.json
        env:
          DatabaseConnection.Password: ${{ secrets.APP_USER_PASSWORD }}
          ApplicationInsights.ConnectionString: ${{ vars.APP_INSIGHTS_CONN_STRING }}

      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: '883a698a-129b-4587-bcfa-19eee5b6d5a5'
          tenant-id: 'a7d6f80b-b14f-412b-bdba-38d835993f6e'
          subscription-id: 'a81f821e-5466-4898-8671-bf41188f39b3'

      - name: Deploy Database
        uses: azure/sql-action@v2
        with:
          connection-string: 'Server=tcp:sql-tfls-testtoken123.database.windows.net,1433;Initial Catalog=sqldb-tfls-testtoken123;Persist Security Info=False;User ID=sqlAdmin;Password={your_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;password=Admin12345678'
          path: db-artifact/migration.sql

      - name: Deploy API
        id: deploy-api
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'api-tfls-testtoken123'
          package: api-artifact
